html {
  font-size: 100%;
}

body {
  font-size: 1em;
  margin: 0;
}

.app {
  display: flex;
}

/* --------------------- Media Queries --------------------- */

@media (max-width: 80em) {
  html {
    font-size: 0.88em;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 0.77em;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 0.55em;
  }
}
